<div class="mat-headline">Parcels</div>
<mat-card class="card">
  <div class="card-heading">
    <button mat-icon-button>
      <mat-icon matSuffix>search</mat-icon>
    </button>
    <mat-form-field floatPlaceholder="never">
      <input matInput #filterInput placeholder="Filter Parcels">
    </mat-form-field>

    <!-- <button class="main-actions pull-right" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Refresh</button>
        </mat-menu> -->

    <button class="main-actions pull-right" mat-icon-button (click)="getParcels()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <div class="mat-elevation-z3s">
    <mat-list>
      <app-list #listComponent [ResultAsync]="parcelsAsync" (pageChange)="onPage($event)">
        <app-list-item *appItem="let parcel; let i=index">
          <mat-list-item class="cursor-pointer" (dblclick)="onParcelSelect(parcel)">
            <!-- <app-initials-avatar mat-list-avatar [initials]="getInitials(parcel)"></app-initials-avatar> -->
            <mat-icon mat-list-avatar svgIcon="package"></mat-icon>

            <label mat-line>{{parcel.description}}</label>
            <label mat-line>
              <mat-icon class="small-icon">location_on</mat-icon>
              {{parcel.route.details}}
            </label>

            <label mat-line class="otherInfoSize">
              <span *ngIf="parcel.status != 'delivered'">
                {{parcel.date | date:'d MMM y'}}
              </span>
              <span *ngIf="parcel.status == 'delivered'">
                {{parcel.dateModified | date:'d MMM y'}}
              </span> -
              <small [class]="parcel.status">
                <b>{{parcel.status | uppercase}} </b>
                <span *ngIf="parcel.status === 'transporting'" matTooltip="Estimated Time of Arrival">
                     - ETA {{ parcel.eta | secondstime }}
                </span>
              </small>
            </label>

            <app-responsive-buttons *ngIf="parcel.status != 'delivered'" [buttons]="actionButtons" [buttonsData]="parcel"></app-responsive-buttons>
            <app-responsive-buttons *ngIf="parcel.status == 'delivered'" [buttons]="deliveredButtons" [buttonsData]="parcel"></app-responsive-buttons>

          </mat-list-item>

          <mat-divider></mat-divider>
        </app-list-item>
      </app-list>
    </mat-list>
  </div>
</mat-card>
