
@media (max-width: 991px) {
    .picture {
        width: 180px;
        display: inline-block;
        height: 180px;
        border-radius: 50%;
        border: 4px solid #fff;
        box-shadow: 0 8px 17px rgba(0, 0, 0, .2), 0 6px 20px rgba(0, 0, 0, .19);
    }
}

@media (min-width: 992px) {
    .picture {
        width: 100%;
    }
}