<mat-card class="card">
    <div class="card-heading">
        <button mat-icon-button><mat-icon matSuffix>search</mat-icon></button>
        <mat-form-field floatPlaceholder="never">
            <input matInput #filterInput placeholder="Filter Groups">
        </mat-form-field>
        
        <button class="main-actions pull-right" mat-icon-button (click)="getGroups()"><mat-icon>refresh</mat-icon></button>
    </div>

    <div class="mat-elevation-z3s">

        <mat-table #table [dataSource]="dataSource">
            
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <app-responsive-buttons [buttons]="actionButtons" [buttonsData]="row.id"></app-responsive-buttons>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onGroupSelect(row.id)"></mat-row>
        </mat-table>

        <mat-paginator #paginator [length]="pageTotal" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="onPagination($event)"
            [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</mat-card>